# Copyright (C) 2026 Maxim [maxirmx] Samsonov (www.sw.consulting)
# All rights reserved.
# This file is a part of the tgb application

node_modules
.npm-cache
.docker-cli
dist
.env
data
coverage
.git
*.log
